In [23]:
import pandas as pd
import re
import os,sys

# Load your DataFrame
df = pd.read_csv('../telegram_data.csv')

In [ ]:
# Add the 'scripts' directory to the Python path for module imports
sys.path.append(os.path.abspath(os.path.join('..', 'scripts')))

# import script for preprocessing
from scripts.utils import *

In [24]:
df.head()

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,ምርጥ ዕቃ,@MerttEka,6828,📣 🔠🔠🔠 🔠🔠🔠🔠🔠 🔠🔠🔠\n✔️ የትኩስ ውሃ መያዢያ ከረጢት\n✔️ 1.8...,2024-10-01 10:39:48+00:00,photos/@MerttEka_6828.jpg
1,ምርጥ ዕቃ,@MerttEka,6827,NaN,2024-09-30 13:19:34+00:00,photos/@MerttEka_6827.jpg
2,ምርጥ ዕቃ,@MerttEka,6826,NaN,2024-09-30 13:19:34+00:00,photos/@MerttEka_6826.jpg
3,ምርጥ ዕቃ,@MerttEka,6825,📣Special Base for Refrigerators\n\n✔️የፍሪጅ ማስቀመ...,2024-09-30 13:19:34+00:00,photos/@MerttEka_6825.jpg
4,ምርጥ ዕቃ,@MerttEka,6824,NaN,2024-09-30 11:11:45+00:00,photos/@MerttEka_6824.jpg

In [26]:
print("Checking for NaN values in the 'Message' column:")
nan_count = df['Message'].isnull().sum()
print(f"Number of NaN values in 'Message' column: {nan_count}")

Checking for NaN values in the 'Message' column:
Number of NaN values in 'Message' column: 1563

In [27]:
df = df.dropna(subset=['Message'])

# Print the shape of the dataset after dropping NaN values in the "Message" column
print(f"Dataset shape after dropping NaN values in 'Message' column: {df.shape}")

Dataset shape after dropping NaN values in 'Message' column: (4168, 6)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4168 entries, 0 to 5717
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel Title     4168 non-null   object
 1   Channel Username  4168 non-null   object
 2   ID                4168 non-null   int64
 3   Message           4168 non-null   object
 4   Date              4168 non-null   object
 5   Media Path        3083 non-null   object
dtypes: int64(1), object(5)
memory usage: 227.9+ KB

In [37]:
message_df=df['Message']
message_df

0           \n️ የትኩስ ውሃ መያዢያ ከረጢት\n️ 1.8 ሊትር ውሃ ይይዛል\n...
3       Special Base for Refrigerators\n\n️የፍሪጅ ማስቀመጫ\...
6        Door Step Shoe Rack\n\n️ የበር ስር ጫማ ማስቀመጫ\n️ ወ...
9         \n\n️ ዘመናዊ በኤሌክትሮኒክስ የሚሰራ ሚዛን\n️እስከ 50 ኪሎ ይመ...
10         \n\n️ ቦርጭ የሚሰበስብ\n️የቦርጭ ስብ የሚያቃጥል \n️ ማራኪ የ...
                              ...
5707                                                 2500
5708                                  ዋጋ 2500\n0983063957
5712    የሙያ ባለቤት መሆን መሠልጠን ነው።\nቀለም ቀቢ ሳያስፈልግዎ ቤትዎን ወይ...
5714    ቤትና ግቢዎን እንዲሁም የብረት እና የእንጨት ቁሳቁስዎን ቀለም ቀቢ ሳያስ...
5717                  ለማዘዝ\n https://t.megojomewechiyaeka
Name: Message, Length: 4168, dtype: object

In [41]:
# Apply the clean function to the 'Message' column
df['Message'] = df['Message'].apply(clean_text)

In [44]:
# Preprocessed messages
df['Message']

0       ️ የትኩስ ውሃ መያዢያ ከረጢት ️ 1.8 ሊትር ውሃ ይይዛል ️ ሙቀት ከሚ...
3       ️የፍሪጅ ማስቀመጫ ️ እስከ 200 ኪሎ ድረስ ዕቃ የሚሸከም ️ ወፍራም ብ...
6       ️ የበር ስር ጫማ ማስቀመጫ ️ ወፍራም የብረት ቱቦ ️ጠንካራ ረጅም ጊዜ ...
9       ️ ዘመናዊ በኤሌክትሮኒክስ የሚሰራ ሚዛን ️እስከ 50 ኪሎ ይመዝናል ️ በ...
10      ️ ቦርጭ የሚሰበስብ ️የቦርጭ ስብ የሚያቃጥል ️ ማራኪ የሰውነት ቅርፅ ይ...
                              ...
5707                                                 2500
5708                                   ዋጋ 2500 0983063957
5712    የሙያ ባለቤት መሆን መሠልጠን ነው። ቀለም ቀቢ ሳያስፈልግዎ ቤትዎን ወይን...
5714    ቤትና ግቢዎን እንዲሁም የብረት እና የእንጨት ቁሳቁስዎን ቀለም ቀቢ ሳያስ...
5717                                            ለማዘዝ ://.
Name: Message, Length: 4168, dtype: object